<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.whitelistbug" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WhitelistBug</name>
    <description>Reproduction of cordova-plugin-whitelist issue #49</description>

    <content src="index.html" />

    <access origin="*" />

    <!-- Only allow navigation to our own app pages -->
    <allow-navigation href="file://*" />

    <!-- Allow opening external links in system browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
    </platform>

    <preference name="BackgroundColor" value="0xff222222" />
</widget>
